<template >
  <div class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns">

          <div class="column">

          </div>
          <div class="column">
            <h1 class="title">{{message}}</h1>
          </div>
          <div class="column">

          </div>

        </div>

      </div>

    </div>

  </div>

</template>

<script>
export default {
  data(){
    return {
      message : 'homepage component!'
    }
  }
}
</script>

<style>
</style>
