<template>
  <div class="container">
    <div class="columns">
      <div class="column">

      </div>
      <div class="column">
        <input v-model="language" class="input" type="text" name="" value="">
        <hr>
        <button v-on:click="addLanguage" class="button is-primary" type="button" name="button"> Add Language</button>
        <aside class="menu">
          <ul class="menu-list">
            <li v-for="language in languages"><a>{{language}}</a></li>
          </ul>
        </aside>
      </div>

      <div class="column">

      </div>

    </div>

  </div>
</template>

<script>
export default {
  data(){
    return {
      languages : ['java','php','javascript','python','ruby','kotlin'],
      language : ''
    }
  },
  methods : {
    addLanguage(){
      if(this.language){

        this.languages.push(this.language);
        this.language = '';

      }else{
        alert('empty input');
      }

    }
  }
}
</script>

<style>
</style>
