<template>
  <div class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">

            <input type="hidden" class="input" name="Name" v-model="user.id">
              <label class="label">Name</label>
              <div class="control has-icons-left">
                <input class="input" type="text" name="Name" v-model="user.name">
                <span class="icon is-small is-left">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <label class="label">Email</label>
              <div class="control has-icons-left">
                  <input class="input" type="text" name="Name" v-model="user.email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-at"></i>
                  </span>
              </div>
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input" type="password" name="Name" v-model="user.password">
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>
              </div>

          <hr>
              <div class="field is-grouped">
                <div class="control">
                  <button v-bind:style="add_custom_type" v-on:click="save" class="button is-primary" type="button" name="button"><i class="fas fa-plus"></i> ADD USER</button>

                    <button v-bind:style="custom_type" type="button" v-on:click="update(user.id)" class="button is-success"  name="button"><i class="fas fa-edit"></i> UPDATE</button>

                  <button v-on:click="clear" class="button is-danger" type="button" name="button"><i class="fas fa-times"></i> Clear</button>
                </div>

              </div>

          </div>
          <div class="column">
              <h1 class="title"> Users</h1>
              <table class="table is-hoverable">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>password</th>
                    <th colspan="2">actions</th>

                  </tr>
                </thead>
                <tbody>
                  <tr v-for="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>

                    <td><button v-on:click="remove(user.id)" class="button is-danger" type="button" name="button"><i class="far fa-trash-alt"></i>DELETE</button></td>
                    <td><button v-on:click="populate(user.id,user.name,user.email,user.password)" class="button is-info" type="button" name="button"><i class="far fa-edit"></i>UPDATE</button> </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>

      </div>

    </div>

  </div>
</template>

<script>
export default {
  data(){
    return{
      users: [],
      user : {
        name:'',
        email: '',
        password : ''

      },
      custom_type : 'display :none;',
      add_custom_type : ''
    }
  },
  methods : {
    fetch(){
      this.$http.get('http://localhost:8090/services/json/users').then(function(response){
        //console.log(response.body);
      this.users = response.body;
      });
    },
    save(){
      if(this.user.name && this.user.email && this.user.password){
      this.$http.post('http://localhost:8090/services/json/users',this.user).then(function(response){
        this.fetch();
        this.clear();
    });
  }else{
    alert('fill all fields!');
  }


  },
  remove(id){
      this.$http.delete('http://localhost:8090/services/json/users/'+id).then(function(response){
      this.users = response.body;
      });
  },
  populate(id,name,email,password){
    this.user.id = id;
    this.user.name = name;
    this.user.email = email;
    this.user.password = password;
    this.custom_type = '';
    this.add_custom_type = 'display :none;';
  },
  clear(){
    this.user.id = '';
    this.user.name = '';
    this.user.email = '';
    this.user.password = '';
    this.custom_type = 'display : none;';
    this.add_custom_type = '';
  },
  update(id){
    if(this.user.name && this.user.email && this.user.password){
    this.$http.put('http://localhost:8090/services/json/users/'+id,this.user).then(function(response){
      this.clear();
      this.fetch();
      this.custom_type = 'display : none;';
      this.add_custom_type = '';
  });

}else{
  alert('can\'t delete a fielad');
}
}
},
  mounted () {
    this.fetch();
  }
}

document.addEventListener('DOMContentLoaded', function () {
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {
        var target = $el.dataset.target;
        var $target = document.getElementById(target);
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});

</script>

<style>
</style>
