<template>
  <div id="app">
    <nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <span style="color:#00c4a7;" class="fa-layers fa-3x"><i class="fab fa-vuejs "></i></span>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/#/">
        Home
      </a>
      <a class="navbar-item" href="/#/languages">
        Languages
      </a>
      <a class="navbar-item" href="/#/users">
        Users
      </a>

    </div>


  </div>
</nav>
  <router-view></router-view>
  
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {

    }
  }
}
</script>

<style>


</style>
